//  variables

$brand-orange: #FF9200;
$brand-blue: #1111EE;

// Initial

.main-content {
	padding: 30px 0;
	margin-top: 50px; 
}

.title {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}