//  variables

$brand-orange: #FF9200;
$brand-blue: #1111EE;

// Initial

body {	
  padding: 20px;
}

.main-content {
	margin-top: 50px; 
}

.title {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}